@import "./variables";
@import "./mixins";
@import "./banner.scss";
@import "../styles/home/home.scss";
@import "../styles/about/about.scss";
@import "../styles/components/collapse.scss";
@import "../styles/logements/slider.scss";
@import "../styles/logements/descriptions.scss";
@import "../styles/notFound/notFound.scss";

* {
  margin: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  text-align: center;
}

body {
  font-family: $font-family;
}

.header {
  @include flex-between;
  padding: 20px 100px;

  @media (max-width: $breakpoint-mobile) {
    padding: 20px;
  }

  &__logo {
    width: 210.32px;
    height: 68px;

    @media (max-width: $breakpoint-mobile) {
      width: 145px;
      height: 46px;
    }
  }

  &__nav {
    ul {
      @include flex-between;
      list-style: none;

      li {
        margin: 0 10px;

        @media (max-width: $breakpoint-mobile) {
          margin: 0 5px;
        }

        .link {
          text-decoration: none;
          color: $link-color;
          font-size: 24px;

          @media (max-width: $breakpoint-mobile) {
            font-size: 12px;
            text-transform: uppercase;
          }

          &.active {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

.footer {
  background-color: $footer-color;
  padding: 20px;
  color: white;
  text-align: center;
  font-size: 24px;

  &__logo {
    width: 100%;
    padding: 20px;

    img {
      width: 122px;
      height: 39.44px;
    }
  }

  p {
    font-size: 24px;
    font-weight: 500;

    @media (max-width: $breakpoint-mobile) {
      font-size: 12px;
    }
  }
}

main {
  padding: 20px 100px;

  @media (max-width: $breakpoint-mobile) {
    padding: 20px;
  }
}

.collapses {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-top: 20px;

  @media (max-width: $breakpoint-mobile) {
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
  }
}
