@import "./variables";
@import "./mixins";
@import "./banner.scss";
@import "../styles/home/home.scss";

* {
  margin: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  text-align: center;
}

body {
  font-family: $font-family;
}

.header {
  @include flex-between;
  padding: 20px 100px;

  &__logo {
    img {
      width: 210.32px;
      height: 68px;
    }
  }

  &__nav {
    ul {
      @include flex-between;
      list-style: none;

      li {
        margin: 0 10px;

        a {
          text-decoration: none;
          color: $link-color;
          font-size: 24px;
        }
      }
    }
  }
}

.footer {
  background-color: $footer-color;
  padding: 20px;
  color: white;
  text-align: center;
  font-size: 24px;

  &__logo {
    width: 100%;
    padding: 20px;

    img {
      width: 122px;
      height: 39.44px;
    }
  }
}

main {
  // flex: 1;
  padding: 20px 100px;
}
